optimum
git+https://github.com/huggingface/transformers.git@72958fcd3c98a7afdc61f953aa58c544ebda2f79
auto-gptq --extra-index-url https://huggingface.github.io/autogptq-index/whl/cu118/
langchain
tiktoken
emoji
SoundFile
torchaudio
munch
torch
pydub
pyyaml
nltk
matplotlib
accelerate
transformers
phonemizer
einops
einops-exts
tqdm
typing-extensions
git+https://github.com/resemble-ai/monotonic_align.git
espeak-ng
ffmpeg-python
youtube-dl
numpy
opencv-contrib-python
opencv-python
torchvision
numba
